asgiref==3.8.1 ; python_full_version == "3.10.12"
attrs==25.3.0 ; python_full_version == "3.10.12"
bandit==1.8.3 ; python_full_version == "3.10.12"
black==25.1.0 ; python_full_version == "3.10.12"
click==8.2.1 ; python_full_version == "3.10.12"
colorama==0.4.6 ; python_full_version == "3.10.12" and platform_system == "Windows"
django-cors-headers==4.7.0 ; python_full_version == "3.10.12"
django-filter==25.1 ; python_full_version == "3.10.12"
django==5.2 ; python_full_version == "3.10.12"
djangorestframework==3.16.0 ; python_full_version == "3.10.12"
drf-spectacular==0.28.0 ; python_full_version == "3.10.12"
flake8==7.2.0 ; python_full_version == "3.10.12"
gunicorn==23.0.0 ; python_full_version == "3.10.12"
h11==0.16.0 ; python_full_version == "3.10.12"
inflection==0.5.1 ; python_full_version == "3.10.12"
isort==6.0.1 ; python_full_version == "3.10.12"
jsonschema-specifications==2025.4.1 ; python_full_version == "3.10.12"
jsonschema==4.23.0 ; python_full_version == "3.10.12"
markdown-it-py==3.0.0 ; python_full_version == "3.10.12"
markdown==3.8 ; python_full_version == "3.10.12"
mccabe==0.7.0 ; python_full_version == "3.10.12"
mdurl==0.1.2 ; python_full_version == "3.10.12"
mypy-extensions==1.1.0 ; python_full_version == "3.10.12"
mypy==1.15.0 ; python_full_version == "3.10.12"
packaging==25.0 ; python_full_version == "3.10.12"
pathspec==0.12.1 ; python_full_version == "3.10.12"
pbr==6.1.1 ; python_full_version == "3.10.12"
platformdirs==4.3.8 ; python_full_version == "3.10.12"
psycopg-binary==3.2.9 ; python_full_version == "3.10.12"
psycopg==3.2.9 ; python_full_version == "3.10.12"
pycodestyle==2.13.0 ; python_full_version == "3.10.12"
pyflakes==3.3.2 ; python_full_version == "3.10.12"
pygments==2.19.1 ; python_full_version == "3.10.12"
python-decouple==3.8 ; python_full_version == "3.10.12"
pyyaml==6.0.2 ; python_full_version == "3.10.12"
referencing==0.36.2 ; python_full_version == "3.10.12"
rich==14.0.0 ; python_full_version == "3.10.12"
rpds-py==0.25.1 ; python_full_version == "3.10.12"
setuptools==80.8.0 ; python_full_version == "3.10.12"
sqlparse==0.5.3 ; python_full_version == "3.10.12"
stevedore==5.4.1 ; python_full_version == "3.10.12"
tomli==2.2.1 ; python_full_version == "3.10.12"
typing-extensions==4.13.2 ; python_full_version == "3.10.12"
tzdata==2025.2 ; sys_platform == "win32" and python_full_version == "3.10.12"
uritemplate==4.1.1 ; python_full_version == "3.10.12"
uvicorn==0.34.2 ; python_full_version == "3.10.12"
